/* header */

.debug .col-4 {
    height: 80px;
}

nav a {
    text-decoration: none;
    color: white;
}

.nav_line {
    height: 50%;
    width: 2px;
    background-color: white;
}

.left_side_bar a {
    text-decoration: none;
    color: white;

}