/* header */

.debug .col-4 {
    background-color: red;
    border: 1px solid white;
    height: 80px;
}

nav a {
    text-decoration: none;
    color: white;
}

.nav_line {
    height: 50%;
    width: 2px;
    background-color: white;
}